<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="banner">
        <img
          srcset="
            /images/support-landing-page/product-blends/colonialrevival/colonialrevival-banner-xs.jpg  576w,
            /images/support-landing-page/product-blends/colonialrevival/colonialrevival-banner-xs.jpg  768w,
            /images/support-landing-page/product-blends/colonialrevival/colonialrevival-banner-md.jpg  992w,
            /images/support-landing-page/product-blends/colonialrevival/colonialrevival-banner-lg.jpg 1200w,
            /images/support-landing-page/product-blends/colonialrevival/colonialrevival-banner-xl.jpg 1920w
          "
          class="img-fluid"
          sizes="100vw"
          src="/images/support-landing-page/product-blends/colonialrevival/colonialrevival-banner-xl.jpg"
          alt="colonial revival Blend"
        />
        <div class="top-center-container">
          <div class="light-text">
            <h1>By George</h1>
            <h2>Colonial Revival</h2>
            <a
              href="/categories?&blnds[]=By+George"
              class="btn btn-sm btn-elandel"
            >
              View Blend <i class="fal fa-chevron-right"></i
            ></a>
          </div>
          <!-- .light-text -->
        </div>
        <!-- .top-center-container -->
      </div>
      <!-- .banner -->
    </div>
    <!-- .col-12  -->
  </div>
  <!-- .row  -->
</div>
<!-- .container-fluid -->

<div class="container container-landing-page">
  <div class="row landing-text-container">
    <div class="col-12 landing-text-box">
      <h2>Thinking about a Colonial Revival styled home?</h2>
      <P class="one-rem-text-desktop" >
        If so, you are considering the single most popular architectural style
        in the United States. It is a mixture of styles that are all uniquely
        American. Colonial Revival tends to have a notably decorative entrance,
        which you can see above. The Colonial Revival style is a classic,
        understated, stately and distinguished design.
      </P>
      <P class="one-rem-text-desktop" >
        Colonial Revival was inspired by a romantic adoration of the early
        American past, which brings traditional values and aesthetics to a
        contemporary, or present-day, life. Think of it as more of a
        preservation of the spirit of the past, rather than a historical
        accuracy.
      </P>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row align-items-center landing-text-container">
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <img
        class="featurette-image img-fluid mx-auto"
        alt="Colonial Revival Crown "
        src="/images/support-landing-page/product-blends/colonialrevival/colonialrevival-inset-1.jpg"
        data-holder-rendered="true"
      />
    </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <h2>Crown your look</h2>
      <p>
        You can revamp any room, including your bathroom, by adding in the crown
        molding to tie it all together. You may notice that most of the Colonial
        Revival molding is white, that is on target for this style. The white
        creates a clean and elegant look. For a look like this, check out the
        key elements below.
      </p>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->

  <div class="row align-items-center landing-text-container">
    <div class="col-12 text-center">
      <h1 class="pb-4 ">Key Elements</h1>
    </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <a href="/categories?&blnds[]=By+George" class="text-dark">
        <h2>Moulding</h2>
      </a>
      <p>
        The moulding within these types of homes tend to have more curves and
        less of the harsh lines. Most traditional designs contain the basic
        moldings throughout the home: includes crown, base, wainscoting (or wall
        paneling), and chair rail. It’s the best way to add the traditional
        design back into the home in a more contemporary way.
      </p>
    </div>
    <!-- col-12 -->
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <a href="/categories?&blnds[]=By+George" class="text-dark">
        <img
          class="featurette-image img-fluid mx-auto"
          alt="Colonial Revival molding"
          src="/images/support-landing-page/product-blends/colonialrevival/colonialrevival-inset-2.jpg"
          data-holder-rendered="true"
        />
      </a>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row d-flex align-items-center landing-text-container">
    <div class="col-12 order-md-2 col-md-6 landing-text-box ">
      <a href="/categories?&blnds[]=By+George" class="text-dark">
        <h2>Doors</h2>
      </a>
      <p>
        Doors are an equally important element. Whether interior or exterior,
        they can bring the whole design together and allow for your space to
        feel clean and put together. Traditionally, the Colonial Revival homes
        have white interior doors and white or dark colored exterior doors.
      </p>
    </div>
    <div
      class=" order-md-1 col-12 col-md-6 text-center   landing-text-container"
    >
      <a href="/categories?&blnds[]=By+George" class="text-dark">
        <img
          class="featurette-image img-fluid mx-auto"
          alt="Colonial Revival Doors"
          src="/images/support-landing-page/product-blends/colonialrevival/colonialrevival-inset-3a.jpg"
          data-holder-rendered="true"
        />
      </a>
    </div>
    <!-- col-12 -->
  </div>

  <div class="row align-items-center landing-text-container">
    <div class="col-12 col-md-6 landing-text-box ">
      <a href="/categories?&blnds[]=By+George" class="text-dark">
        <h2>Mantels</h2>
      </a>
      <p>
        Many of these types of homes have mantels, as this is part of the
        traditional style. It’s easy to revamp the mantel into a more modern
        twist on the traditional design. It still incorporates that clean and
        simple feel, while adding that white accent back into your living room.
      </p>
    </div>
    <!-- col-12 -->
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <a href="/categories?&blnds[]=By+George" class="text-dark">
        <img
          class="featurette-image img-fluid mx-auto"
          alt="Colonial Revival Mantels"
          src="/images/support-landing-page/product-blends/colonialrevival/colonialrevival-inset-4.jpg"
          data-holder-rendered="true"
        />
      </a>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row align-items-center landing-text-container">
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <img
        class="featurette-image img-fluid mx-auto"
        alt="Colonial Revival home’s exterior "
        src="/images/support-landing-page/product-blends/colonialrevival/colonialrevival-inset-5.jpg"
        data-holder-rendered="true"
      />
    </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <h2>Colonial Revival</h2>
      <p>
        Notice that this home’s exterior has a symmetrical style. The columns
        are even, along with the amount of windows and the entry door sits in
        the middle. It is clean, yet decorative at the front.
      </p>
      <p>
        You will also notice that there is siding on this home as well, that was
        a common addition to the Colonial Revival style.
      </p>
      <p>
        Typically there will also be a porch in this type of design, as they are
        a traditional element in a home.
      </p>
    </div>
    <!-- col-s12 -->
  </div>
</div>

<!-- container -->